@using static SpecificationSheet;
@page "/shop"

<PageTitle>Shop</PageTitle>

<h1>Магазин мебели</h1>
<NavLink class="nav-link basket-link" href="basket">
    <img src="https://lk.easynetshop.ru/box/cart_default.svg"/> Корзина
</NavLink>

<div class="main">
    <h2>Мебель для гостинной</h2>
    <ul class="product-cards">
        @if (Products != null)
        {
            @foreach (var product in Products)
            {
                <li style="background-image: url('@product.ImageUrl')">
                    <div class="product-info">
                        <span class="title">@product.Name</span><br>

                        @if (product.Width != null)
                            {<a>Ширина: @(product.Width)мм</a><br>}

                        @if (product.Height != null)
                            {<a>Высота: @(product.Height)мм</a><br>}

                        @if (product.Depth != null)
                            {<a>Глубина: @(product.Depth)мм</a><br>}

                        @if (product.BodyMaterial != null)
                            {<a>Материал корпуса: @(product.BodyMaterial)</a><br>}

                        @if (product.FacadeMaterial != null)
                            {<a>Материал фасада: @(product.FacadeMaterial)</a><br>}

                        @if (product.UpholsteryMaterial != null)
                            {<a>Материал обивки: @(product.UpholsteryMaterial)</a><br>}

                        @if (product.HandleMaterial != null)
                            {<a>Материал ручек: @(product.HandleMaterial)</a><br>}

                        @if (product.Filler != null)
                            {<a>Наполнитель: @(product.Filler)</a><br>}

                        @if (product.Edge != null)
                            {<a>Кромка: @(product.Edge)</a><br>}

                        @if (product.BodyColor != null)
                            {<a>Цвет корпуса: @(product.BodyColor)</a><br>}

                        @if (product.FacadeColor != null)
                            {<a>Цвет фасада: @(product.FacadeColor)</a><br>}

                        @if (product.Guides != null)
                            {<a>Направляющие: @(product.Guides)</a><br>}

                        @if (product.MaximumLoad != null)
                            {<a>Максимальная нагрузка: @(product.MaximumLoad) кг</a><br>}

                        @if (product.MaximumLoadPerShelf != null)
                            {<a>Максимальная нагрузка на полку: @(product.MaximumLoadPerShelf) кг</a><br>}

                            <span class="price">@product.GetFormattedBasePrice()</span>
                            <button class="busket-button" onclick="">В корзину</button>
                    </div>
                </li>
            }
        }
    </ul>
</div><br>

<div class="main">
    <h2>Мебель для прихожей</h2>
    <ul class="product-cards">
        @if (FurnitureForTheHallway != null)
        {
            @foreach (var product in FurnitureForTheHallway)
            {
                <li style="background-image: url('@product.ImageUrl')">
                    <div class="product-info">
                        <span class="title">@product.Name</span><br>

                        @if (product.Width != null)
                            {<a>Ширина: @(product.Width)мм</a><br>}

                        @if (product.Height != null)
                            {<a>Высота: @(product.Height)мм</a><br>}

                        @if (product.Depth != null)
                            {<a>Глубина: @(product.Depth)мм</a><br>}

                        @if (product.BodyMaterial != null)
                            {<a>Материал корпуса: @(product.BodyMaterial)</a><br>}

                        @if (product.FacadeMaterial != null)
                            {<a>Материал фасада: @(product.FacadeMaterial)</a><br>}

                        @if (product.UpholsteryMaterial != null)
                            {<a>Материал обивки: @(product.UpholsteryMaterial)</a><br>}

                        @if (product.HandleMaterial != null)
                            {<a>Материал ручек: @(product.HandleMaterial)</a><br>}

                        @if (product.Filler != null)
                            {<a>Наполнитель: @(product.Filler)</a><br>}

                        @if (product.Edge != null)
                            {<a>Кромка: @(product.Edge)</a><br>}

                        @if (product.BodyColor != null)
                            {<a>Цвет корпуса: @(product.BodyColor)</a><br>}

                        @if (product.FacadeColor != null)
                            {<a>Цвет фасада: @(product.FacadeColor)</a><br>}

                        @if (product.Guides != null)
                            {<a>Направляющие: @(product.Guides)</a><br>}

                        @if (product.MaximumLoad != null)
                            {<a>Максимальная нагрузка: @(product.MaximumLoad) кг</a><br>}

                        @if (product.MaximumLoadPerShelf != null)
                            {<a>Максимальная нагрузка на полку: @(product.MaximumLoadPerShelf) кг</a><br>}

                            <span class="price">@product.GetFormattedBasePrice()</span>
                            <button class="busket-button" onclick="">В корзину</button>
                    </div>
                </li>
            }
        }
    </ul>
</div><br>

<div class="main"> 
    <h2>Мягкая мебель</h2>
    <ul class="product-cards">
        @if (sofas != null)
        {
            @foreach (var sofa in sofas)
            {
                <li style="background-image: url('@sofa.ImageUrl')">
                    <div class="product-info">
                        <span class="title">@sofa.Name</span><br>

                        @if (sofa.Width != null)
                            {<a>Ширина: @(sofa.Width)мм</a><br>}

                        @if (sofa.Height != null)
                            {<a>Высота: @(sofa.Height)мм</a><br>}

                        @if (sofa.Depth != null)
                            {<a>Глубина: @(sofa.Depth)мм</a><br>}

                        @if (sofa.BodyMaterial != null)
                            {<a>Материал корпуса: @(sofa.BodyMaterial)см</a><br>}

                        @if (sofa.SeatHeight != null)
                            {<a>Высота сиденья: @(sofa.SeatHeight)см</a><br>}

                        @if (sofa.SeatDepth != null)
                            {<a>Глубина сиденья: @(sofa.SeatDepth)см</a><br>}

                        @if (sofa.PadsOnArmrests != null)
                            {<a>Накладки на подлокотниках: @(sofa.PadsOnArmrests)</a><br>}

                        @if (sofa.Frame != null)
                            {<a>Каркас: @(sofa.Frame)</a><br>}

                        @if (sofa.Mattress != null)
                            {<a>Матрас: @(sofa.Mattress)</a><br>}

                        @if (sofa.TransformationMechanism != null)
                            {<a>Механизм трансформации: @(sofa.TransformationMechanism)</a><br>}

                        @if (sofa.MaximumLoad != null)
                            {<a>Максимальная нагрузка: @(sofa.MaximumLoad) кг на спальное место</a><br>}

                        @if (sofa.Case != null)
                            {<a>Чехол: @(sofa.Case)</a><br>}

                            <span class="price">@sofa.GetFormattedBasePrice()</span>
                            <button class="busket-button" onclick="">В корзину</button>
                    </div>
                </li>
            }
        }
    </ul>
</div><br>

<div class="main"> 
    <h2>Мебель для спальни</h2>
    <ul class="product-cards">
        @if (BedroomFurniture != null)
        {
            @foreach (var product in BedroomFurniture)
            {
                <li style="background-image: url('@product.ImageUrl')">
                    <div class="product-info">
                        <span class="title">@product.Name</span><br>

                        @if (product.Width != null)
                            {<a>Ширина: @(product.Width)мм</a><br>}

                        @if (product.Height != null)
                            {<a>Высота: @(product.Height)мм</a><br>}

                        @if (product.Depth != null)
                            {<a>Глубина: @(product.Depth)мм</a><br>}

                        @if (product.BodyMaterial != null)
                            {<a>Материал корпуса: @(product.BodyMaterial)</a><br>}

                        @if (product.FacadeMaterial != null)
                            {<a>Материал фасада: @(product.FacadeMaterial)</a><br>}

                        @if (product.UpholsteryMaterial != null)
                            {<a>Материал обивки: @(product.UpholsteryMaterial)</a><br>}

                        @if (product.HandleMaterial != null)
                            {<a>Материал ручек: @(product.HandleMaterial)</a><br>}

                        @if (product.Filler != null)
                            {<a>Наполнитель: @(product.Filler)</a><br>}

                        @if (product.Edge != null)
                            {<a>Кромка: @(product.Edge)</a><br>}

                        @if (product.BodyColor != null)
                            {<a>Цвет корпуса: @(product.BodyColor)</a><br>}

                        @if (product.FacadeColor != null)
                            {<a>Цвет фасада: @(product.FacadeColor)</a><br>}

                        @if (product.Guides != null)
                            {<a>Направляющие: @(product.Guides)</a><br>}

                        @if (product.MaximumLoad != null)
                            {<a>Максимальная нагрузка: @(product.MaximumLoad) кг</a><br>}

                        @if (product.MaximumLoadPerShelf != null)
                            {<a>Максимальная нагрузка на полку: @(product.MaximumLoadPerShelf) кг</a><br>}

                            <span class="price">@product.GetFormattedBasePrice()</span>
                            <button class="busket-button" onclick="">В корзину</button>
                    </div>
                </li>
            }
        }
    </ul>
</div><br>

<div class="main">
    <h2>Детская мебель</h2>
    <ul class="product-cards">
        @if (ChildFurniture != null)
        {
            @foreach (var product in ChildFurniture)
            {
                <li style="background-image: url('@product.ImageUrl')">
                    <div class="product-info">
                        <span class="title">@product.Name</span><br>

                        @if (product.Width != null)
                            {<a>Ширина: @(product.Width)мм</a><br>}

                        @if (product.Height != null)
                            {<a>Высота: @(product.Height)мм</a><br>}

                        @if (product.Depth != null)
                            {<a>Глубина: @(product.Depth)мм</a><br>}

                        @if (product.BodyMaterial != null)
                            {<a>Материал корпуса: @(product.BodyMaterial)</a><br>}

                        @if (product.FacadeMaterial != null)
                            {<a>Материал фасада: @(product.FacadeMaterial)</a><br>}

                        @if (product.UpholsteryMaterial != null)
                            {<a>Материал обивки: @(product.UpholsteryMaterial)</a><br>}

                        @if (product.HandleMaterial != null)
                            {<a>Материал ручек: @(product.HandleMaterial)</a><br>}

                        @if (product.Filler != null)
                            {<a>Наполнитель: @(product.Filler)</a><br>}

                        @if (product.Edge != null)
                            {<a>Кромка: @(product.Edge)</a><br>}

                        @if (product.BodyColor != null)
                            {<a>Цвет корпуса: @(product.BodyColor)</a><br>}

                        @if (product.FacadeColor != null)
                            {<a>Цвет фасада: @(product.FacadeColor)</a><br>}

                        @if (product.Guides != null)
                            {<a>Направляющие: @(product.Guides)</a><br>}

                        @if (product.MaximumLoad != null)
                            {<a>Максимальная нагрузка: @(product.MaximumLoad) кг</a><br>}

                        @if (product.MaximumLoadPerShelf != null)
                            {<a>Максимальная нагрузка на полку: @(product.MaximumLoadPerShelf) кг</a><br>}

                            <span class="price">@product.GetFormattedBasePrice()</span>
                            <button class="busket-button" onclick="">В корзину</button>
                    </div>
                </li>
            }
        }
    </ul>
</div><br>

<div class="main">
    <h2>Мебель для кухни</h2>
    <ul class="product-cards">
        @if (KitchenFurniture != null)
        {
            @foreach (var product in KitchenFurniture)
            {
                <li style="background-image: url('@product.ImageUrl')">
                    <div class="product-info">
                        <span class="title">@product.Name</span><br>

                        @if (product.Width != null)
                            {<a>Ширина: @(product.Width)мм</a><br>}

                        @if (product.Height != null)
                            {<a>Высота: @(product.Height)мм</a><br>}

                        @if (product.Depth != null)
                            {<a>Глубина: @(product.Depth)мм</a><br>}

                        @if (product.BodyMaterial != null)
                            {<a>Материал корпуса: @(product.BodyMaterial)</a><br>}

                        @if (product.FacadeMaterial != null)
                            {<a>Материал фасада: @(product.FacadeMaterial)</a><br>}

                        @if (product.UpholsteryMaterial != null)
                            {<a>Материал обивки: @(product.UpholsteryMaterial)</a><br>}

                        @if (product.HandleMaterial != null)
                            {<a>Материал ручек: @(product.HandleMaterial)</a><br>}

                        @if (product.Filler != null)
                            {<a>Наполнитель: @(product.Filler)</a><br>}

                        @if (product.Edge != null)
                            {<a>Кромка: @(product.Edge)</a><br>}

                        @if (product.BodyColor != null)
                            {<a>Цвет корпуса: @(product.BodyColor)</a><br>}

                        @if (product.FacadeColor != null)
                            {<a>Цвет фасада: @(product.FacadeColor)</a><br>}

                        @if (product.Guides != null)
                            {<a>Направляющие: @(product.Guides)</a><br>}

                        @if (product.MaximumLoad != null)
                            {<a>Максимальная нагрузка: @(product.MaximumLoad) кг</a><br>}

                        @if (product.MaximumLoadPerShelf != null)
                            {<a>Максимальная нагрузка на полку: @(product.MaximumLoadPerShelf) кг</a><br>}

                            <span class="price">@product.GetFormattedBasePrice()</span>
                            <button class="busket-button" onclick="">В корзину</button>
                    </div>
                </li>
            }
        }
    </ul>
</div><br>

<div class="main">
    <h2>Шкафы для дома</h2>
    <ul class="product-cards">
        @if (CabinetsForHome != null)
        {
            @foreach (var product in CabinetsForHome)
            {
                <li style="background-image: url('@product.ImageUrl')">
                    <div class="product-info">
                        <span class="title">@product.Name</span><br>

                        @if (product.Width != null)
                            {<a>Ширина: @(product.Width)мм</a><br>}

                        @if (product.Height != null)
                            {<a>Высота: @(product.Height)мм</a><br>}

                        @if (product.Depth != null)
                            {<a>Глубина: @(product.Depth)мм</a><br>}

                        @if (product.BodyMaterial != null)
                            {<a>Материал корпуса: @(product.BodyMaterial)</a><br>}

                        @if (product.FacadeMaterial != null)
                            {<a>Материал фасада: @(product.FacadeMaterial)</a><br>}

                        @if (product.UpholsteryMaterial != null)
                            {<a>Материал обивки: @(product.UpholsteryMaterial)</a><br>}

                        @if (product.HandleMaterial != null)
                            {<a>Материал ручек: @(product.HandleMaterial)</a><br>}

                        @if (product.Filler != null)
                            {<a>Наполнитель: @(product.Filler)</a><br>}

                        @if (product.Edge != null)
                            {<a>Кромка: @(product.Edge)</a><br>}

                        @if (product.BodyColor != null)
                            {<a>Цвет корпуса: @(product.BodyColor)</a><br>}

                        @if (product.FacadeColor != null)
                            {<a>Цвет фасада: @(product.FacadeColor)</a><br>}

                        @if (product.Guides != null)
                            {<a>Направляющие: @(product.Guides)</a><br>}

                        @if (product.MaximumLoad != null)
                            {<a>Максимальная нагрузка: @(product.MaximumLoad) кг</a><br>}

                        @if (product.MaximumLoadPerShelf != null)
                            {<a>Максимальная нагрузка на полку: @(product.MaximumLoadPerShelf) кг</a><br>}

                            <span class="price">@product.GetFormattedBasePrice()</span>
                            <button class="busket-button" onclick="">В корзину</button>
                    </div>
                </li>
            }
        }
    </ul>
</div><br>

<div class="main">
    <h2>Матрасы</h2>
    <ul class="product-cards">
        @if (mattress != null)
        {
            @foreach (var product in mattress)
            {
                <li style="background-image: url('@product.ImageUrl')">
                    <div class="product-info">
                        <span class="title">@product.Name</span><br>

                        @if (product.Composition != null)
                            {
                                <a>Состав:</a>
                                <ol>
                                @foreach (string element in product.Composition)
                                {
                                    <li>@element</li>
                                }
                                </ol>
                            }
                            
                        @if (product.Width != null)
                            {<a>Ширина: @(product.Width)мм</a><br>}

                        @if (product.Height != null)
                            {<a>Высота: @(product.Height)мм</a><br>}

                        @if (product.Depth != null)
                            {<a>Глубина: @(product.Depth)мм</a><br>}

                        @if (product.Case != null)
                            {<a>Тип чехла: @(product.Depth)</a><br>}

                        @if (product.Rigidity != null)
                            {<a>Жесткость @(product.LoadWeight)</a><br>}

                        @if (product.LoadWeight != null)
                            {<a>Вес нагрузки: до @(product.LoadWeight) кг</a><br>}

                            <span class="price">@product.GetFormattedBasePrice()</span>
                            <button class="busket-button" onclick="">В корзину</button>
                    </div>
                </li>
            }
        }
    </ul>
</div><br>

<div class="main">
    <h2>Мебель для ванной комнаты</h2>
    <ul class="product-cards">
        @if (BathroomFurniture != null)
        {
            @foreach (var product in BathroomFurniture)
            {
                <li style="background-image: url('@product.ImageUrl')">
                    <div class="product-info">
                        <span class="title">@product.Name</span><br>

                        @if (product.Width != null)
                            {<a>Ширина: @(product.Width)мм</a><br>}

                        @if (product.Height != null)
                            {<a>Высота: @(product.Height)мм</a><br>}

                        @if (product.Depth != null)
                            {<a>Глубина: @(product.Depth)мм</a><br>}

                        @if (product.BodyMaterial != null)
                            {<a>Материал корпуса: @(product.BodyMaterial)</a><br>}

                        @if (product.FacadeMaterial != null)
                            {<a>Материал фасада: @(product.FacadeMaterial)</a><br>}

                        @if (product.UpholsteryMaterial != null)
                            {<a>Материал обивки: @(product.UpholsteryMaterial)</a><br>}

                        @if (product.HandleMaterial != null)
                            {<a>Материал ручек: @(product.HandleMaterial)</a><br>}

                        @if (product.Filler != null)
                            {<a>Наполнитель: @(product.Filler)</a><br>}

                        @if (product.Edge != null)
                            {<a>Кромка: @(product.Edge)</a><br>}

                        @if (product.BodyColor != null)
                            {<a>Цвет корпуса: @(product.BodyColor)</a><br>}

                        @if (product.FacadeColor != null)
                            {<a>Цвет фасада: @(product.FacadeColor)</a><br>}

                        @if (product.Guides != null)
                            {<a>Направляющие: @(product.Guides)</a><br>}

                        @if (product.MaximumLoad != null)
                            {<a>Максимальная нагрузка: @(product.MaximumLoad) кг</a><br>}

                        @if (product.MaximumLoadPerShelf != null)
                            {<a>Максимальная нагрузка на полку: @(product.MaximumLoadPerShelf) кг</a><br>}

                            <span class="price">@product.GetFormattedBasePrice()</span>
                            <button class="busket-button" onclick="">В корзину</button>
                    </div>
                </li>
            }
        }
    </ul>
</div><br>

<div class="main">
    <h2>Мебель для домашнего кабинета и офиса</h2>
    <ul class="product-cards">
        @if (FurnitureForHomeOfficeAndOffice != null)
        {
            @foreach (var product in FurnitureForHomeOfficeAndOffice)
            {
                <li style="background-image: url('@product.ImageUrl')">
                    <div class="product-info">
                        <span class="title">@product.Name</span><br>

                        @if (product.Width != null)
                            {<a>Ширина: @(product.Width)мм</a><br>}

                        @if (product.Height != null)
                            {<a>Высота: @(product.Height)мм</a><br>}

                        @if (product.Depth != null)
                            {<a>Глубина: @(product.Depth)мм</a><br>}

                        @if (product.BodyMaterial != null)
                            {<a>Материал корпуса: @(product.BodyMaterial)</a><br>}

                        @if (product.FacadeMaterial != null)
                            {<a>Материал фасада: @(product.FacadeMaterial)</a><br>}

                        @if (product.UpholsteryMaterial != null)
                            {<a>Материал обивки: @(product.UpholsteryMaterial)</a><br>}

                        @if (product.HandleMaterial != null)
                            {<a>Материал ручек: @(product.HandleMaterial)</a><br>}

                        @if (product.Filler != null)
                            {<a>Наполнитель: @(product.Filler)</a><br>}

                        @if (product.Edge != null)
                            {<a>Кромка: @(product.Edge)</a><br>}

                        @if (product.BodyColor != null)
                            {<a>Цвет корпуса: @(product.BodyColor)</a><br>}

                        @if (product.FacadeColor != null)
                            {<a>Цвет фасада: @(product.FacadeColor)</a><br>}

                        @if (product.Guides != null)
                            {<a>Направляющие: @(product.Guides)</a><br>}

                        @if (product.MaximumLoad != null)
                            {<a>Максимальная нагрузка: @(product.MaximumLoad) кг</a><br>}

                        @if (product.MaximumLoadPerShelf != null)
                            {<a>Максимальная нагрузка на полку: @(product.MaximumLoadPerShelf) кг</a><br>}

                            <span class="price">@product.GetFormattedBasePrice()</span>
                            <button class="busket-button" onclick="">В корзину</button>
                    </div>
                </li>
            }
        }
    </ul>
</div><br>

@* <div class="grid">

    <figure class="item_type">

        <button class="button">
            <a href="Abc.razor" target="_self"></a>
            <img src="img/Гостинная.jpeg"/>
        </button>
        Мебель для гостинной
    </figure>

    <figure class="item_type">
        <button class="button">
            <img src="img/Мебель для прихожей.jpeg"/>
        </button>
        Мебель для прихожей
    </figure>
    
    <figure class="item_type">
        <button class="button">
            <img src="img/Мягкая мебель.jpeg"/>
        </button>
        Мягкая мебель
    </figure>

    <figure class="item_type">
        <button class="button">
            <img src="img/Мебель для спальни.jpeg"/>
        </button>
        Мебель для спальни
    </figure>

    <figure class="item_type">
        <button class="button">
            <img src="img/Детская мебель.jpeg"/>
        </button>
        Детская мебель
    </figure>

</div> *@

@functions
{
    private List<StandartProduct> Products = new();
    private List<StandartProduct> FurnitureForTheHallway = new();
    private List<StandartProduct> BedroomFurniture = new(); 
    private List<StandartProduct> ChildFurniture = new();
    private List<StandartProduct> KitchenFurniture = new();
    private List<StandartProduct> CabinetsForHome = new();
    private List<StandartProduct> BathroomFurniture = new();
    private List<StandartProduct> FurnitureForHomeOfficeAndOffice = new();
    private List<Sofas> sofas = new();
    private List<Mattress> mattress = new();

    object? RenderProducts(List<StandartProduct> Products)
    {
            @* <ul class="@("product-cards")">
             @if (BedroomFurniture != null)
            {
                @foreach (var product in Products)
                {
                    <li style="background-image: url('@product.ImageUrl')">
                        <div class="@("product-info")">
                        <span class="@("title")">@product.Name</span><br>

                        @if (product.Width != null)
                            {<a>Ширина: @(product.Width)мм</a><br>}
                        </div>
                    </li>
                }
            } 
            </ul>
            *@
        return null; 
    }

    @* object? RenderProducts_2(string name)
    {
        <text><p>Name: @name</p></text>

        return null;
    } *@

    protected override void OnInitialized()
    {
        #region Мебель для гостинной
        Products.AddRange(new List<StandartProduct>
        {
            new StandartProduct { Name = "Стенка Макарена МДФ", BasePrice =  38316M, 
            Width = 2790, Height = 2000, Depth = 440, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard_Glass, Edge = EdgeTypes.PVC_04, BodyColor = "венге",
            FacadeColor = "дуб", Guides = GuidesTypes.Roller, MaximumLoadPerShelf = 5,
            ImageUrl="img/products/Мебель для гостинной/Стенка Макарена МДФ.jpg"},

            new StandartProduct { Name = "Гостиная Дельта", BasePrice =  18526M, 
            Width = 2648, Height = 1874, Depth = 456, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard_Glass, Edge = EdgeTypes.PVC_04,
            FacadeColor = Colors.White, MaximumLoadPerShelf = 5, ImageUrl="img/products/Мебель для гостинной/Гостиная Дельта.jpg"},

            new StandartProduct { Name = "Стенка Лима", BasePrice =  8916M, 
            Width = 1500, Height = 1500, Depth = 440, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, Edge = EdgeTypes.PVC_04, MaximumLoadPerShelf = 5,
            ImageUrl="img/products/Мебель для гостинной/Стенка Лима.jpg"},

            new StandartProduct { Name = "Гостиная Пекин", BasePrice =  13377M, 
            Width = 2100, Height = 1785, Depth = 398, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, Edge = EdgeTypes.PVC_04, 
            Guides = GuidesTypes.Roller, MaximumLoadPerShelf = 5,
            ImageUrl="img/products/Мебель для гостинной/Гостиная Пекин.jpg"},

            new StandartProduct { Name = "Журнальный стол СЖ-1", BasePrice =  3324M, 
            Width = 820, Height = 600, Depth = 529, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            ImageUrl="img/products/Мебель для гостинной/Журнальный стол СЖ-1.jpg"},  
        });
        #endregion

        #region Мебель для прихожей
        FurnitureForTheHallway.AddRange(new List<StandartProduct>
        {
            new StandartProduct { Name = "Вешалка Бостон ВШ-1", BasePrice =  9899M, 
            Width = 1100, Height = 2120, Depth = 450, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = "ЛДСП, Зеркало 4 мм", HandleMaterial = "пластик",
            BodyColor = "дуб крафт серый", FacadeColor = "дуб крафт серый/Бетонный камень", 
            ImageUrl="img/products/Мебель для прихожей/Вешалка Бостон ВШ-1.jpg"},    

            new StandartProduct { Name = "Вешалка Айден ВШ06-1100", BasePrice =  8953M, 
            Width = 1100, Height = 2000, Depth = 400, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = "ЛДСП, Зеркало", BodyColor = Colors.White, Guides = GuidesTypes.Roller,
            ImageUrl="img/products/Мебель для прихожей/Вешалка Айден ВШ06-1100.jpg"},    

            new StandartProduct { Name = "Вешалка ВО-3", BasePrice =  2561M, 
            Width = 600, Height = 900, Depth = 262, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            Edge = EdgeTypes.PVC, BodyColor = "ясень шимо светлый",
            ImageUrl="img/products/Мебель для прихожей/Вешалка ВО-3.jpg"},

            new StandartProduct { Name = "Обувница Мини-Лайт МЛ-5", BasePrice =  8958M, 
            Width = 770, Height = 450, Depth = 468, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, UpholsteryMaterial = FillTypes.ECO_leather,
            Filler = "Пенополиуретан (ППУ)", Guides = GuidesTypes.Ballpoint, MaximumLoad = 120, 
            ImageUrl="img/products/Мебель для прихожей/Обувница Мини-Лайт МЛ-5.jpg"},

            new StandartProduct { Name = "Обувница Танго", BasePrice =  3768M, 
            Width = 600, Height = 813, Depth = 250, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, Edge = EdgeTypes.PVC_04,
            BodyColor = "Кантерберри", FacadeColor = "Сонома",
            ImageUrl="img/products/Мебель для прихожей/Обувница Танго.jpg"},

            new StandartProduct { Name = "Тумба Эльза 5", BasePrice =  5825M, 
            Width = 600, Height = 960, Depth = 353, BodyMaterial = MaterialsTypes.LaminatedChipboard_16,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard_16, Edge = EdgeTypes.PVC_045,
            ImageUrl="img/products/Мебель для прихожей/Тумба Эльза 5.jpg"},
        });
        #endregion 

        #region Мягкая мебель
        sofas.AddRange(new List<Sofas>
        {
            new Sofas { Name = "Прямой диван-кровать Колорадо", BasePrice =  74130M, 
            Width = 1800, Height = 860, Depth = 1090, SeatHeight = 44,
            Frame = FrameTypes.MetalFrame, Mattress = "комфорт", 
            TransformationMechanism = TransformationMechanismTypes.Accordion, MaximumLoad = 120, 
            ImageUrl="img/products/Мягкая мебель/Прямой диван-кровать Колорадо.jpg"},

            new Sofas { Name = "Пуф Классик", BasePrice =  4488M, 
            Width = 460, Height = 450, Depth = 460, SeatHeight = 45, SeatDepth = 46,
            BodyMaterial = MaterialsTypes.LaminatedChipboard, UpholsteryMaterial = FillTypes.ECO_leather, Filler = FillTypes.Polyurethane, MaximumLoad = 120, ImageUrl="img/products/Мягкая мебель/Пуф Классик.jpg"},

            new Sofas { Name = "Прямой диван-кровать двойной Манхэттен", BasePrice =  73861M, 
            Width = 2640, Height = 910, Depth = 900, SeatHeight = 45, Frame = FrameTypes.MetalFrame,
            PadsOnArmrests = "МДФ под пленкой ПВХ, 16мм", Mattress = MattressTypes.Comfort, TransformationMechanism = TransformationMechanismTypes.Sergio,
            MaximumLoad = 120, Case = CaseTypes.Removable, ImageUrl="img/products/Мягкая мебель/Прямой диван-кровать двойной Манхэттен.jpg"},

            new Sofas { Name = "Прямой диван-кровать Парма", BasePrice =  48528M, 
            Width = 1900, Height = 980, Depth = 1030, SeatHeight = 48, Frame = FrameTypes.MetalFrame,
            PadsOnArmrests = "МДФ под пленкой ПВХ, 16мм", Mattress = MattressTypes.SuperComfort, TransformationMechanism = TransformationMechanismTypes.Click_Clack,
            MaximumLoad = 120, ImageUrl="img/products/Мягкая мебель/Прямой диван-кровать Парма.jpg"},

            new Sofas { Name = "Прямой диван-кровать Сиэтл", BasePrice =  104755M, 
            Width = 2460, Height = 900, Depth = 1100, SeatHeight = 45, SeatDepth = 60,
            Frame = FrameTypes.MetalFrame, Mattress = "13 см., " + MattressTypes.SuperComfort, TransformationMechanism = TransformationMechanismTypes.Pantograph,
            MaximumLoad = 200, Case = CaseTypes.Removable, ImageUrl="img/products/Мягкая мебель/Прямой диван-кровать Сиэтл.jpg"},

            new Sofas { Name = "Диван Кредо ППУ", BasePrice =  53883M, 
            Width = 2270, Height = 920, Depth = 900, SeatHeight = 43, SeatDepth = 7560,
            TransformationMechanism = TransformationMechanismTypes.Tick_tock, Case = CaseTypes.NonRemovable, 
            ImageUrl="img/products/Мягкая мебель/Диван Кредо ППУ.jpg"},

            new Sofas { Name = "Прямой диван-кровать Милан", BasePrice =  86258M, 
            Width = 2040, Height = 1090, Depth = 1060, SeatHeight = 48, SeatDepth = 63,
            Frame = FrameTypes.MetalFrame, Mattress = "14 см., " + MattressTypes.Comfort, TransformationMechanism = TransformationMechanismTypes.Click_Clack,
            MaximumLoad = 120, Case = CaseTypes.Removable, ImageUrl="img/products/Мягкая мебель/Прямой диван-кровать Милан.jpg"},         

            new Sofas { Name = "Угловой диван Кембридж", BasePrice =  163555M, 
            Width = 2750, Height = 1000, Depth = 1620, SeatHeight = 50, SeatDepth = 60,
            Frame = FrameTypes.MetalFrame, Mattress = "17 см., люкс, с независимым пружинным блоком", TransformationMechanism = TransformationMechanismTypes.Pantograph,
            MaximumLoad = 300, Case = CaseTypes.Removable, ImageUrl="img/products/Мягкая мебель/Угловой диван Кембридж.jpg"},     
        });
        #endregion 

        #region Мебель для спальни
        BedroomFurniture.AddRange(new List<StandartProduct>
        {
            new StandartProduct { Name = "Комод Чарли 9.1", BasePrice =  12759M, 
            Width = 1400, Height = 714, Depth = 460, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            Edge = EdgeTypes.PVC_045 + " в цвет ЛДСП", BodyColor = Colors.Cashmere, ImageUrl="img/products/Мебель для спальни/Комод Чарли 9.1.jpg"},   

            new StandartProduct { Name = "Кровать Victor", BasePrice =  7154M, 
            Width = 1634, Height = 676, Depth = 2046, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            Edge = EdgeTypes.PVC_04, MaximumLoad = 100, ImageUrl="img/products/Мебель для спальни/Кровать Victor.jpg"},   

            new StandartProduct { Name = "Кровать Юнона", BasePrice =  5817M, 
            Width = 1600, Height = 842, Depth = 2050, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            Edge = EdgeTypes.PVC_04, BodyColor = "венге/дуб", MaximumLoad = 100, ImageUrl="img/products/Мебель для спальни/Кровать Юнона.jpg"},   

            new StandartProduct { Name = "Комод Ливерпуль 10.103", BasePrice =  18260M, 
            Width = 1003, Height = 953, Depth = 413, BodyMaterial = MaterialsTypes.LaminatedChipboard_16,
            FacadeMaterial = MaterialsTypes.MDF_16, Edge = EdgeTypes.PVC_04, 
            BodyColor = "белый с тиснением “Поры дерева”", FacadeColor = "ясень ваниль",
            ImageUrl="img/products/Мебель для спальни/Комод Ливерпуль 10.103.jpg"},  

            new StandartProduct { Name = "Кровать Ронда", BasePrice =  4699M, 
            Width = 1635, Height = 700, Depth = 2032, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard,
            ImageUrl="img/products/Мебель для спальни/Кровать Ронда.jpg"},  

            new StandartProduct { Name = "Трехстворчатый шкаф Акация", BasePrice =  23377M, 
            Width = 1200, Height = 2200, Depth = 520, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            Guides = GuidesTypes.Ballpoint, ImageUrl="img/products/Мебель для спальни/Трехстворчатый шкаф Акация.jpg"},  
        });
        #endregion

        #region Десткая мебель
        ChildFurniture.AddRange(new List<StandartProduct>
        {
            new StandartProduct { Name = "Двухстворчатый шкаф Смарти Совята", BasePrice =  10586M, 
            Width = 700, Height = 2030, Depth = 450, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeColor = "белый с фотопечатью Совята",
            ImageUrl="img/products/Детская мебель/Двухстворчатый шкаф Смарти Совята.jpg"}, 

            new StandartProduct { Name = "Навесная полка Смарти Совята", BasePrice = 2790M, 
            Width = 1100, Height = 340, Depth = 316, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeColor = "белый с фотопечатью Совята",
            ImageUrl="img/products/Детская мебель/Навесная полка Смарти Совята.jpg"}, 

            new StandartProduct { Name = "Четырехстворчатый шкаф Розалия 24", BasePrice = 2790M, 
            Width = 1600, Height = 2134, Depth = 544, BodyMaterial = MaterialsTypes.LaminatedChipboard_16,
            FacadeMaterial = MaterialsTypes.MDF_16, BodyColor = "лиственница белая", 
            FacadeColor = "Омела глянец металлик", Edge = EdgeTypes.PVC_045, MaximumLoadPerShelf = 10,
            ImageUrl="img/products/Детская мебель/Четырехстворчатый шкаф Розалия 24.jpg"}, 

            new StandartProduct { Name = "Модульная детская Дастин", BasePrice = 2790M, 
            BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeColor = "Дуб Крафт Золотой /Белая Аляска/ Желтый",
            ImageUrl="img/products/Детская мебель/Модульная детская Дастин.jpg"}, 
        });
        #endregion

        #region Кухонная мебель
        KitchenFurniture.AddRange(new List<StandartProduct>
        {
            new StandartProduct { Name = "Кухня 1.6 Маша-2", BasePrice =  15866M, 
            Width = 1600, Height = 2100, Depth = 600, BodyMaterial = "ЛДСП, Стекло тонированное 4 мм",
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, Guides = GuidesTypes.Roller,
            HandleMaterial = MaterialsTypes.Plastic,
            ImageUrl="img/products/Кухонная мебель/Кухня 1.6 Маша-2.jpg"}, 

            new StandartProduct { Name = "Кухня Дана 1.0", BasePrice =  8333M, 
            Width = 1000, Height = 2110, Depth = 600, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, BodyColor = "Дуб Крафт золотой",
            HandleMaterial = MaterialsTypes.Plastic, FacadeColor = Colors.White, Guides = GuidesTypes.Roller,
            ImageUrl="img/products/Кухонная мебель/Кухня Дана 1.0.jpg"}, 

            new StandartProduct { Name = "Полукруглый стол-тумба", BasePrice =  5137M, 
            Width = 900, Height = 780, Depth = 290, BodyMaterial = MaterialsTypes.LaminatedChipboard_16,
            Edge = EdgeTypes.PVC_045, ImageUrl="img/products/Кухонная мебель/Полукруглый стол-тумба.jpg"}, 

            new StandartProduct { Name = "Стул Венсен", BasePrice =  8861M, 
            Width = 555, Height = 900, Depth = 600, 
            BodyMaterial = "Рамка из массива, пружина – змейка, ППУ – 40мм, гнутоклееная фанера 10 мм",
            UpholsteryMaterial = "велюр", ImageUrl="img/products/Кухонная мебель/Стул Венсен.jpg"},

            new StandartProduct { Name = "Кухонный уголок Трапэзи Тессера", BasePrice =  12225M, 
            Width = 1582, Height = 990, Depth = 1182, 
            BodyMaterial = MaterialsTypes.LaminatedChipboard + ", кожзам",
            ImageUrl="img/products/Кухонная мебель/Кухонный уголок Трапэзи Тессера.jpg"},

            new StandartProduct { Name = "Кухонный уголок Орхидея Комби", BasePrice =  19239M, 
            Width = 1080, Height = 880, Depth = 1480, UpholsteryMaterial = FillTypes.ECO_leather,
            Edge = EdgeTypes.PVC, Filler = FillTypes.Polyurethane, MaximumLoad = 120,
            BodyMaterial = MaterialsTypes.LaminatedChipboard + ", " + MaterialsTypes.Plastic,
            ImageUrl="img/products/Кухонная мебель/Кухонный уголок Орхидея Комби.jpg"},

            new StandartProduct { Name = "Табурет Экстра", BasePrice =  1657M, 
            Width = 360, Height = 480, Depth = 360,
            BodyMaterial = "металл, фанера", UpholsteryMaterial = FillTypes.ECO_leather,
            Filler = FillTypes.Polyurethane, BodyColor = "металлик", MaximumLoad = 120,
            ImageUrl="img/products/Кухонная мебель/Табурет Экстра.jpg"},
        });
        #endregion

        #region Шкафы для дома
        CabinetsForHome.AddRange(new List<StandartProduct>
        {
            new StandartProduct { Name = "Пенал Ронда ШК-1", BasePrice =  5404M, 
            Width = 400, Height = 2120, Depth = 520, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, Assembly = AssemblyTypes.Universal,
            ImageUrl="img/products/Шкафы для дома/Пенал Ронда ШК-1.jpg"}, 

            new StandartProduct { Name = "Шкаф-купе Фортуна", BasePrice =  5404M, 
            Width = 1700, Height = 2100, Depth = 600, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard_Glass, 
            HandleMaterial = MaterialsTypes.MetallPlastic,
            ImageUrl="img/products/Шкафы для дома/Шкаф-купе Фортуна.jpg"}, 

            new StandartProduct { Name = "Шкаф-купе Бассо", BasePrice =  11581M, 
            Width = 1300, Height = 2020, Depth = 500, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard_Glass, 
            HandleMaterial = MaterialsTypes.Plastic,
            ImageUrl="img/products/Шкафы для дома/Шкаф-купе Бассо.jpg"}, 

            new StandartProduct { Name = "Стеллаж Айден СТЛ06-600", BasePrice =  4815M, 
            Width = 600, Height = 2000, Depth = 350, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, 
            HandleMaterial = MaterialsTypes.Plastic, Guides = GuidesTypes.Roller,
            ImageUrl="img/products/Шкафы для дома/Стеллаж Айден СТЛ06-600.jpg"}, 

            new StandartProduct { Name = "Трехстворчатый шкаф Чарли 25", BasePrice =  23489M, 
            Width = 1200, Height = 2205, Depth = 550, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, Edge = EdgeTypes.PVC_045 + " и 1 мм в цвет ЛДСП",
            BodyColor = "кашемир", HandleMaterial = MaterialsTypes.Metall, Guides = GuidesTypes.Ballpoint,
            MaximumLoadPerShelf = 10, ImageUrl="img/products/Шкафы для дома/Трехстворчатый шкаф Чарли 25.jpg"}, 

            new StandartProduct { Name = "Шкаф-купе Victor", BasePrice =  16275M, 
            Width = 1600, Height = 2100, Depth = 526, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, Edge = EdgeTypes.PVC_04,
            MaximumLoadPerShelf = 5, ImageUrl="img/products/Шкафы для дома/Шкаф-купе Victor.jpg"}, 

            new StandartProduct { Name = "Трехстворчатый шкаф Ронда ШК-3", BasePrice =  12673M, 
            Width = 1200, Height = 2120, Depth = 520, BodyMaterial = MaterialsTypes.LaminatedChipboard_Glass,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, HandleMaterial = MaterialsTypes.Plastic,
            ImageUrl="img/products/Шкафы для дома/Трехстворчатый шкаф Ронда ШК-3.jpg"}, 
        });
        #endregion

        #region Матрасы
        mattress.AddRange(new List<Mattress>
        {
            new Mattress { Name = "Односторонний матрас Классик 6 Моно", BasePrice =  14630M, 
            Width = 1600, Height = 180, Depth = 2000, Rigidity = "высокая", LoadWeight = 150,
            Case = "Искусственный жаккард, стеганый синтепоном",
            Composition = new List<string>{ 
                "пенополиуретан 15 мм", "кокосовая койра 30 мм", "спанбонд",
                "усиленный пружинный блок Боннель", "войлок", "спанбонд", "ППУ по периметру"
                },
            ImageUrl="img/products/Матрасы/Односторонний матрас Классик 6 Моно.jpg"},

            new Mattress { Name = "Односторонний матрас Премиум 8 Моно", BasePrice =  22253M, 
            Width = 1600, Height = 185, Depth = 2000, Rigidity = "средняя", LoadWeight = 130,
            Case = "Хлопковый жаккард, стеганый синтепоном",
            Composition = new List<string>{ 
                "натуральный латекс", "кокосовая койра 10 мм", "войлок",
                "пружинный блок Multipocket (500 пружин/м2)", "войлок", "спанбонд", "каркас из ППУ по периметру"
                },
            ImageUrl="img/products/Матрасы/Односторонний матрас Премиум 8 Моно.jpg"},

            new Mattress { Name = "Односторонний матрас Комфорт 3 Моно", BasePrice =  12274M, 
            Width = 1600, Height = 160, Depth = 2000, Rigidity = "средняя", LoadWeight = 110,
            Case = "Хлопковый жаккард, стеганый синтепоном",
            Composition = new List<string>{ 
                "спанбонд", "кокосовая койра 10 мм", "войлок",
                "пружинный блок Multipocket (500 пружин/м2)", "войлок", "спанбонд", "каркас из ППУ по периметру"
                },
            ImageUrl="img/products/Матрасы/Односторонний матрас Комфорт 3 Моно.jpg"},

            new Mattress { Name = "Двухсторонний матрас Классик 4", BasePrice =  13224M, 
            Width = 1600, Height = 190, Depth = 2000, Rigidity = "средняя", LoadWeight = 110,
            Case = "Искусственный жаккард, стеганый синтепоном",
            Composition = new List<string>{ 
                "пенополиуретан 15 мм", "кокосовая койра 10 мм", "спанбонд",
                "усиленный пружинный блок Боннель", "спанбонд", "кокосовая койра 10 мм",
                "пенополиуретан 15 мм", "ППУ по периметру"
                },
            ImageUrl="img/products/Матрасы/Двухсторонний матрас Классик 4.jpg"},

            new  Mattress { Name = "Беспружинный односторонний матрас Комфорт 4 Монолит", BasePrice =  12492M, 
            Width = 1600, Height = 155, Depth = 2000, Rigidity = "средняя", LoadWeight = 120,
            Case = "Хлопковый жаккард, стеганый синтепоном",
            Composition = new List<string>{ 
                "Ортопена повышенной упругости"
                },
            ImageUrl="img/products/Матрасы/Беспружинный односторонний матрас Комфорт 4 Монолит.jpg"},

            new  Mattress { Name = "Двухсторонний матрас Юниор 3", BasePrice =  6829M, 
            Width = 1600, Height = 155, Depth = 2000, Rigidity = "средняя", LoadWeight = 110,
            Case = "Хлопковый жаккард, стеганый синтепоном",
            Composition = new List<string>{ 
                "спанбонд", "кокосовая койра 10 мм", "войлок",
                "блок независимых пружин (500 пружин на спальное место)", "войлок", "пенополиуретан",
                "каркас из ППУ по периметру"
                },
            ImageUrl="img/products/Матрасы/Двухсторонний матрас Юниор 3.jpg"},

            new  Mattress { Name = "Беспружинный матрас Юниор 3 Монолит", BasePrice =  5562M, 
            Width = 1600, Height = 115, Depth = 2000, Rigidity = "средняя", LoadWeight = 110,
            Case = "Хлопковый жаккард, стеганый синтепоном",
            Composition = new List<string>{ 
                "спанбонд", "кокосовая койра 10 мм", "ортопена повышенной упругости",
                "кокосовая койра 10 мм", "спанбонд"
                },
            ImageUrl="img/products/Матрасы/Беспружинный матрас Юниор 3 Монолит.jpg"},

            new  Mattress { Name = "Двухсторонний матрас Премиум 5", BasePrice =  23065M, 
            Width = 1600, Height = 195, Depth = 2000, Rigidity = "выше среднего", LoadWeight = 130,
            Case = "Хлопковый жаккард, стеганый синтепоном",
            Composition = new List<string>{ 
                "спанбонд", "кокосовая койра 20 мм", "войлок", 
                "пружинный блок Multipocket (500 пружин/спальное место)", "войлок",
                "кокосовая койра 20 мм", "спанбонд", "каркас из ППУ по периметру"
                },
            ImageUrl="img/products/Матрасы/Двухсторонний матрас Премиум 5.jpg"},
        });
        #endregion

        #region Мебель для ванной комнаты
        BathroomFurniture.AddRange(new List<StandartProduct>
        {
            new StandartProduct { Name = "Зеркальный шкаф Кларити 16.312.08", BasePrice =  5687M, 
            Width = 592, Height = 500, Depth = 130, BodyMaterial = MaterialsTypes.LaminatedChipboard_16,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard_16 + ", зеркало", BodyColor = "Белый РЕ шагрень",
            ImageUrl="img/products/Мебель для ванной/Зеркальный шкаф Кларити 16.312.08.jpg"}, 

            new StandartProduct { Name = "Зеркальный шкаф Кларити 16.312.07", BasePrice =  4337M, 
            Width = 500, Height = 592, Depth = 130, BodyMaterial = MaterialsTypes.LaminatedChipboard_16,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard_16 + ", зеркало", BodyColor = "Белый РЕ шагрень",
            ImageUrl="img/products/Мебель для ванной/Зеркальный шкаф Кларити 16.312.07.jpg"}, 

            new StandartProduct { Name = "Зеркальный шкаф Кларити 16.312.06", BasePrice =  8021M, 
            Width = 746, Height = 558, Depth = 155, BodyMaterial = MaterialsTypes.LaminatedChipboard_16,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard_16 + ", зеркало", BodyColor = "Белый РЕ шагрень",
            ImageUrl="img/products/Мебель для ванной/Зеркальный шкаф Кларити 16.312.06.jpg"}, 

            new StandartProduct { Name = "Зеркальный шкаф Кларити 16.312.05", BasePrice =  8839M, 
            Width = 891, Height = 750, Depth = 130, BodyMaterial = MaterialsTypes.LaminatedChipboard_16,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard_16 + ", зеркало", BodyColor = "Белый РЕ шагрень",
            ImageUrl="img/products/Мебель для ванной/Зеркальный шкаф Кларити 16.312.05.jpg"}, 

            new StandartProduct { Name = "Зеркальный шкаф Кларити 16.312.04", BasePrice =  6671M, 
            Width = 747, Height = 747, Depth = 130, BodyMaterial = MaterialsTypes.LaminatedChipboard_16,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard_16 + ", зеркало", BodyColor = "Белый РЕ шагрень",
            ImageUrl="img/products/Мебель для ванной/Зеркальный шкаф Кларити 16.312.04.jpg"}, 

            new StandartProduct { Name = "Тумба-умывальник Pompei 80, 2 ящика, Белый", BasePrice =  64859M, 
            Width = 805, Height = 530, Depth = 520, BodyMaterial = "МДФ",
            BodyColor = "Белый, покрытие глянцевое",
            ImageUrl="img/products/Мебель для ванной/Тумба-умывальник Pompei 80, 2 ящика, Белый.jpg"}, 

            new StandartProduct { Name = "Тумба-умывальник Панда 50", BasePrice =  11038M, 
            Width = 460, Height = 720, Depth = 279, BodyMaterial = "ВДСП, МДФ, керамика",
            BodyColor = Colors.White, ImageUrl="img/products/Мебель для ванной/Тумба-умывальник Панда 50.jpg"},
            
            new StandartProduct { Name = "Шкаф-пенал Aventino", BasePrice =  30596M, 
            Width = 350, Height = 1600, Depth = 320, BodyMaterial = "влагостойкое ЛДСП",
            FacadeMaterial = "МДФ 19 мм, покрытие фасадов эмаль (лак)",
            BodyColor = "белый глянец", ImageUrl="img/products/Мебель для ванной/Шкаф-пенал Aventino.jpg"},
        });
        #endregion

        #region Мебель для домашнего кабинета и офиса
        FurnitureForHomeOfficeAndOffice.AddRange(new List<StandartProduct>
        {
            new StandartProduct { Name = "Стол Лайт", BasePrice =  6041M, 
            Width = 1200, Height = 750, Depth = 596, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, Edge = EdgeTypes.PVC_04,
            BodyColor = "дуб крафт золотой/белый", FacadeColor = Colors.White, Guides = GuidesTypes.Roller,
            MaximumLoadPerShelf = 5,
            ImageUrl="img/products/Мебель для домашнего кабинета и офиса/Стол Лайт.jpg"}, 

            new StandartProduct { Name = "Стол руководителя 1900 Акцент", BasePrice =  7641M, 
            Width = 1900, Height = 700, Depth = 770, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            Edge = EdgeTypes.PVC_04, BodyColor = "Ясень Шимо светлый",
            ImageUrl="img/products/Мебель для домашнего кабинета и офиса/Стол руководителя 1900 Акцент.jpg"}, 

            new StandartProduct { Name = "Письменный стол Asti-3", BasePrice =  5507M, 
            Width = 1100, Height = 750, Depth = 506, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            Edge = EdgeTypes.PVC_08, MaximumLoadPerShelf = 10,
            ImageUrl="img/products/Мебель для домашнего кабинета и офиса/Письменный стол Asti-3.jpg"}, 

            new StandartProduct { Name = "Письменный стол Asti-1", BasePrice =  5507M, 
            Width = 800, Height = 750, Depth = 478, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            Edge = EdgeTypes.PVC_08, MaximumLoadPerShelf = 8,
            ImageUrl="img/products/Мебель для домашнего кабинета и офиса/Письменный стол Asti-1.jpg"}, 

            new StandartProduct { Name = "Письменный стол Ронда СТП", BasePrice =  1782M, 
            Width = 1200, Height = 750, Depth = 570, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            FacadeMaterial = MaterialsTypes.LaminatedChipboard, HandleMaterial = MaterialsTypes.Plastic,
            BodyColor = "венге", FacadeColor = "дуб Белфорд", Guides = GuidesTypes.Roller,
            Assembly = "Универсальная (зеркальная) сборка конструкцией не предусмотрена", 
            ImageUrl="img/products/Мебель для домашнего кабинета и офиса/Письменный стол Ронда СТП.jpg"}, 

            new StandartProduct { Name = "Компьютерный стол Олимп", BasePrice =  5507M, 
            Width = 1200, Height = 1550, Depth = 500, BodyMaterial = MaterialsTypes.LaminatedChipboard,
            Assembly = "Универсальная (зеркальная) сборка конструкцией не предусмотрена",
            ImageUrl="img/products/Мебель для домашнего кабинета и офиса/Компьютерный стол Олимп.jpg"}, 

            new StandartProduct { Name = "Компьютерный стол СК-11", BasePrice =  10285M, 
            Width = 1400, Height = 800, Depth = 1200, Edge = EdgeTypes.PVC_04,
            BodyMaterial = MaterialsTypes.LaminatedChipboard,
            Assembly = "Односторонняя", 
            ImageUrl="img/products/Мебель для домашнего кабинета и офиса/Компьютерный стол СК-11.jpg"}, 

            new StandartProduct { Name = "Книжная полка 6", BasePrice =  10285M, 
            Width = 1190, Height = 600, Depth = 240, Edge = EdgeTypes.PVC,
            BodyMaterial = MaterialsTypes.LaminatedChipboard, BodyColor = "ясень Шимо темный",
            ImageUrl="img/products/Мебель для домашнего кабинета и офиса/Книжная полка 6.jpg"}, 
        });
        #endregion
    }
}